/* Tanisha Garner */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS AND ROOTS */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
	--yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
	font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
}

/* FOR SCREEN READER */
#skip{
    position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.sr-only{
    position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* FONT FAMILIES */
h1, h2, h3 {
    font-family: 'Molle';
}

h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
}

/* FONT SIZES */
h1{
    font-size: 50px;
}

h2, h3{
    font-size: 30px;
}

/* MOBILE FIRST STYLES */
body{
    color: var(--dark-gray);
}

/* MENU AND NAV */
header{
    padding: 10px;
    background-image: linear-gradient(#55BCD5, #FFFFFF);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	padding: 1rem 0;
   
    
}

header h1, header p{
    padding-left: 1rem;
    padding-bottom: 3px;
    display: flex;
    order: 1;
}


#logo{
    display: flex;
    flex-shrink: 3;
}

nav{
    display: flex;
    align-self: flex-end;
}


#toggle{
    display: none;
}

#toggle:checked + label + ul {
    display: flex;
    flex-direction: column;
    background-color: var(--teal);
    color: var(--white);
    padding: 2rem;
}

nav #menu-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
       
}

#menu-toggle > label{
    color: var(--dark-gray);
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav > #menu-toggle a{
    text-decoration: none;
    color: var(--white);
    

}


#menu-toggle ul{
    display: none;
    padding: 1rem;
}









/* INTRO */

#intro div{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

#intro p{
    line-height: 1.8;
}

#intro h2, #intro p{
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    padding: 10px;


}

#img-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
    padding-bottom:5px;
    
    
}

#img-grid img {
    object-fit: cover;
    width: 100%;
    height: auto;
}


/* PLAN */

#plan{
    background-color: var(--yellow);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#plan h3{
    padding-bottom: 15px;

}

#plan div{
    padding: 1rem;  
    display: grid;
    row-gap: 20px;
}
    

#plan section{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

#plan h4{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#plan div > section{
    display: flex;
    padding-bottom: 1rem;
    background-color: var(--teal);
    border-radius: 15px;
    border-top-width: 3rem;
    border:5px solid var(--white);
    

}

#plan a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding: 2rem;

}

/* TESTIMONIALS */

#testimonials{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#testimonials h3{
    padding-bottom: 15px;
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#testimonials div > section{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

#testimonials h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#testimonials section > q{
    quotes: initial;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

/* ABOUT DESTINATION */

#about{
    background-color: var(--blue);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    
}
#about div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;   
}

#about div > section h4{
    padding-left: 35px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#about div > section p{
    padding-left: 2rem;
}

/* CONTACT FORM */ 

#contact{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact h3{
    padding-bottom: 2rem;
}

#contact span{
    padding-left: 5px;
    font-family: Montserrat;
    font-size: medium;
}

.required{
    color: var(--purple);
    
}

#names input{
    width: 100%;
    height: 1rem;
    border-color: var(--purple);
    border-width: 3px;
}

#nums input{
    width: 100%;
    height: 1rem;
    border-color: var(--purple);
    border-width: 3px;
}

#mySubmit{
    width: 100%;
    height: 3rem;
}

#destination, #travelTime{
    border-color: var(--purple);
    border-width: 2px;
    width: 123%;
}


label{
    text-transform: uppercase;
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input, select{
	display: block;
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;
	height: 3rem;
}

fieldset{
	margin: 1rem auto;
	display: flex;
    flex-direction: column;
    text-transform: uppercase;
    
}

legend{
	font-weight: bold;
	flex-grow: 1;
}

fieldset label, fieldset input{
    display: flex;
    align-items: flex-end;
	margin: 0.75rem 0;
	color: var(--dark-gray);
	font-weight: normal;
}

fieldset label{
	display: flex;
	justify-content: flex-start;

}

fieldset input{
	height: 1rem;
	display: flex;
	justify-content: start;
	
}
 input[type='radio']{
    width: 3em; 
    height: 3em; 
    accent-color: var(--purple);
}



input[type=submit]{
	display: flex;
    justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 1.15rem;
	background-color: var(--purple);
	padding: 0.5rem;
	width: 100%;
}






/* FOOTER STYLES */ 

footer{
    background-color: var(--light-gray);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

footer p{
    text-align: center;
    padding-bottom: 2rem;
}

footer a{
    text-align: center;
    padding: 8px;
    text-decoration: none;
}




/* MEDIA QUERIES DOR DIFFERENT SCREEN SIZES */ 

/* SMALL */ 



/* MEDIUM */ 


/* LARGE */ 